<%- include("Partials/header") %>


<h1>About Blog Website</h1>
<img class="profile" src="https://images.pexels.com/photos/261579/pexels-photo-261579.jpeg?auto=compress&cs=tinysrgb&w=600" alt="cat profile">
<p>Welcome to My Blog! This project is a simple yet functional blog website built using Node.js, Express.js, and EJS templates.This blog is designed as a hands-on project to demonstrate how to create a dynamic website where users can compose and view blog posts. The focus is on understanding the basics of web development and server-side rendering without the complexities of database management.Understand the basics of server-side programming with Node.js and Express.js.Learn how to use EJS for creating dynamic web pages.Develop a functional web application without a database.We hope this project inspires you to delve deeper into web development and explore more advanced features and technologies in your future projects.</p>
    <h4>Technology Stack</h4>
    <p>Node.js: For server-side scripting and handling requests.
        Express.js: As the web application framework.
        EJS: Embedded JavaScript templates for dynamic HTML generation.
        CSS: For styling the website and ensuring a pleasant user experience.</p>

  <%- include("Partials/footer") %>
